body{
	margin:0;
	padding:0;
}
header{
	border:3px solid #EEF0F3;
	padding:10px 0;
}
.container{
		width:90%;
		/*border:1px solid red;*/
		margin:0 auto;
		overflow:hidden;
}
.logo{
     width:10%;
     /*border:1px solid red;*/
     float:left;
}
.logo img{
      width:100%;
}
.menu{
      margin-top:3px;
      width:45%;
      /*border:1px solid red;*/
      float:right;
}
.menu ul{
		float:right;
}
.menu ul li{
	list-style:none;
	float:left;
}
.menu ul li a{
		text-decoration:none;
		margin:0 20px;
		display:inline-block;
		font-family:sans-serif;
		font-size:16px;
		font-weight:400;
		color:#0F2656;
}
.menu ul li a:hover {
    background-color: #5ACFFF;
    border-radius:4px;
    font-size:20px;
}
.menu ul li:last-child a{
	       margin-right:0;
}
.banner{
		padding:60px 0;
		/*border:1px solid red;*/
}
.container2{
	width:55%;
	/*border:1px solid yellow;*/
	margin:0 auto;

}
.b_content{
		font-family:sans-serif;
		text-align: center;
}
.b_content h1{
	font-size: 45px;
	font-weight: 700;
	color:#0F2656;
}
.b_content h2{
	font-size: 45px;
	font-weight: 700;
	color:#008AFF;
}
.b_content p{
	font-size: 16px;
	font-weight: 400;
	color:#0F2656;
	word-spacing:1px;
	line-height:23px;
	margin-top:0;
	margin-bottom:15px;
}
.b_img{
	width:75%;
	margin:0 auto;
}
.b_img img{
	width:100%;
}
.success{
		padding:60px 0;
}
.s_content{
		font-family: sans-serif;
		overflow:hidden;
}
.left_content{
		width:40%;
		float:left;
		margin:0 auto;
		padding:0 10px 0 20px;
		text-align:right;
}
.left_content h2{
			font-size:42px;
			font-weight:700px;
			color:#F15767;
			margin:0 0 10px;
}
.left_content p{
			font-size:16px;
			font-weight:400px;
			color:#0F2656;
			margin:0;
			line-height:24px;
			word-spacing:1px;
}
.right_content{
		width:50%;
		float:right;
		padding:0 20px 0 10px;
}
.right_content h1{
		font-size:42px;
		font-weight: 700;
		color:#0F2656;
		line-height:50px;
		margin:0;
}
.feature{

}
.f_content{
		overflow:hidden;
}
.f_single{
		width:27%;
		float:left;
		margin-right:2.5%;
		padding:30px 1.5% 45px;
		color:#0F2656;
		font-family:sans-serif;
}
.f_single:last-child{
	margin-right:0;
}
.pink{
	background-color:#FDEBED;
}
.green{
	background-color:#EBF9F4
}
.yellow{
	background-color:#FFF7E8;
}
.f_img img{
	width:100%;
}
.f_single h2{
	font-size:22px;
	font-weight: 700;
	margin:20px 0;
}
.f_single p{
	font-size:16px;
	font-weight:400;
	margin:0;
}
.footer {
    background-color: #0a86ff; /* blue like the image */
    color: #ffffff;
    text-align: center;
    padding: 15px 10px;
    font-size: 14px;
    font-family: sans-serif;
}
.footer a {
    font-weight: bold;
}







































